---
import MainLayout from "@/layouts/main-layout.astro";
import BlogHeader from "@/components/blog-header.astro";
import BlogCard from "@/components/cards/blog-card.astro";
import { getPosts } from "@/lib/fetchers";
import { Image } from "astro:assets";
import { hobbies } from "@/config/about.ts";
import { Button } from "@/components/ui/button";
import { Icon } from "astro-icon/components";
import InfoLanding from "@/components/sections/info-landing.astro";
import Testimonials from "@/components/sections/testimonials.astro";
import { infos } from "@/config/landing";

const posts = await getPosts();
// const posts = todos.slice(1)
---

<MainLayout title="Inicio" description="Blog de Yaguar">
  <div class="bg-background">
    <!-- <InfoLanding data={infos[0]} reverse={true} /> -->
    <section class="container max-w-screen-lg py-10">

      <BlogHeader title="Blog"/>

      <div
      class="grid grid-cols-1 gap-x-6 gap-y-9 md:gap-y-11 lg:gap-y-16 lg:gap-x-8"
    >
      {posts.map((post: any) => <BlogCard {...post} />)}
    </div>
      
    </section>

    <!-- <Testimonials /> -->
  </div>
</MainLayout>
