---
import { buttonVariants } from "@/components/ui/button";
import { badgeVariants } from "@/components/ui/badge"
import Searchbox from "@/components/search"
import { getCategories } from "@/lib/fetchers";
import { cn } from "@/lib/utils";
import { Icon } from "astro-icon/components";

const categories = await getCategories();

type Props = {
  title: string;
  color?: string;
};

const { title, color } = Astro.props;
const { category } = Astro.params;
---
  <h1 class="inline-block font-heading text-4xl">{title}</h1> 

<div class="flex items-end justify-between mt-4 max-md:gap-4"
transition:name="barracategories">
  {
    categories?.length ? (
      <ul class="flex snap-x snap-mandatory overflow-auto items-center space-x-2 lg:space-x-2.5 pb-2">
        {/* <li class="flex-shrink-0 snap-start">
          <a
            href={`/blog`}
            class={cn(
              !category ? "select-none" : "",
              badgeVariants({
                variant: !category ? "default" : "outline",
                radius:"md",
              })
            )}
            class=
          >
            Todos
          </a>
        </li> */}
        {categories.map((item) => (
          <li class="shrink-0 snap-start">
            <a
              href={`/blog/category/${item}`}
              class={cn(
                "capitalize",
                item === category ? "select-none" : "",
                badgeVariants({
                  variant: item === category ? "default" : "outline",
                  radius: "md"
                })
              )}
            >
              {item}
            </a>
          </li>
        ))}
      </ul>
    ) : (
      <div />
    )
  }

<!-- <Searchbox client:load /> -->

</div>

<hr class="mb-7"/>