---
const canonicalURL = new URL(Astro.url.pathname, Astro.site).href;
const slug = Astro.params.slug;
---

<script is:inline>
    window.addEventListener('load', function () {
            setTimeout(() => {
                let scrollHeight = document.querySelector("#cusdis_thread iframe").contentWindow.document.body.scrollHeight;
                document.querySelector("#cusdis_thread iframe").style.height = scrollHeight + "px";
            }, 3000);
        });
</script>

<div id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="2612c256-136d-4b6f-a050-ac87c9c0d931"
  data-page-id={slug}
  data-page-url={canonicalURL}
  data-page-title="El blog"
></div>
<!-- <script is:inline src="https://cusdis.com/js/widget/lang/es.js"></script> -->
<script async src="https://cusdis.com/js/cusdis.es.js"></script>