---
import { siteConfig } from "@/config/site";
import { Icon } from "astro-icon/components";
---
<a
          href={siteConfig.links.youtube}
          target="_blank"
          rel="noreferrer"
          class="font-medium underline underline-offset-4"
        >
          <Icon name="youtube" class="size-6" />
        </a>
        <a
          href={siteConfig.links.instagram}
          target="_blank"
          rel="noreferrer"
          class="font-medium underline underline-offset-4"
        >
          <Icon name="instagram" class="size-4" />
        </a>
        <a
          href={siteConfig.links.discord}
          target="_blank"
          rel="noreferrer"
          class="font-medium underline underline-offset-4"
        >
          <Icon name="discord" class="size-6" />
        </a>
        <a
          href={siteConfig.links.spotify}
          target="_blank"
          rel="noreferrer"
          class="font-medium underline underline-offset-4"
        >
          <Icon name="spotify" class="size-4" />
        </a>